.tab1 {
	z-index: 1;
}

.tab2 {
	z-index: 2;
}

.tab3 {
	z-index: 3;
}

.tab4 {
	z-index: 4;
}

.tab5 {
	z-index: 5;
}

.tab6 {
	z-index: 6;
}



body {
	height: 100vh;
}

.container {

	height: 100%;

}

.spacer {
	width: 100%;
	height: 70px;
}

.wrapper {

}

.search_area {
	margin-bottom: 20px;
}



.search_area > * {
	margin-bottom: 10px;
}

.search_area h1 {
	padding-left: 15px;
	margin-bottom: 20px;
}


.picker {
	background-color: white !important;
	cursor: pointer;
}



.input_fields .form-control {
	width: auto;
	display: inline-block;

}

.input_fields > .btn {
	margin-bottom: 2px;
	width: 15%;
}

.input_fields .picker {
	display: inline-block;
}

#search_loading {
	background-color: #3b8dc2;
	color: #3b8dc2;
	display: none;
}

.image {
	background-color: #3b8dc2;
}


.modal-pricebox {
	float: right;
	text-align: right;
	margin-top: 2px;
	margin-right: 20px;
}

.modal-pricebox #m-price {
	display: inline;
	margin: 0;
	line-height: 1.42857143;
}

.modal-subtitle {
	font-size: 12px;
	font-weight: 500;
	color: #9a9a9a;
}

.modal-pricebox .modal-subtitle {
	font-size: 14px;
}

.list-group {
	padding-right: 0;
}

.button_column > button {
	width: 100%;
}