<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
    <title>Relay Rides Exercise</title>


    <script language="javascript" type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script language="javascript" type="text/javascript" src="node_modules/angular/angular.js"></script>
	<script language="javascript" type="text/javascript" src="Pikaday/pikaday.js"></script>
	<script language="javascript" type="text/javascript" src="Pikaday/plugins/pikaday.jquery.js"></script>
	<script language="javascript" type="text/javascript" src="node_modules/bootstrap/js/modal.js"></script>
	<script language="javascript" type="text/javascript" src="js/date.js"></script>
	<script language="javascript" type="text/javascript" src="js/sampledata.js"></script>
    <script language="javascript" type="text/javascript" src="js/app.js"></script>


    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="Pikaday/css/pikaday.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="main" ng-controller="InputController">

    <div class="container">
    	<!-- <div class="spacer">
    	</div>
    	<div class="row col-md-8 col-md-offset-2">
    		
    		<div class="input_fields">
    			<input type="text" class="form-control" ng-model="locations" placeholder="Pick a location">
    			

    			<input type="text" class="form-control picker" id="start" placeholder="Start date" readonly>
    			<div class="btn-group">
				  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    	Action <span class="caret"></span>
				  	</button>
				  	<ul class="dropdown-menu">
				    	<li><a href="#">Action</a></li>

				  	</ul>
				</div>




    			<input type="text" class="form-control picker" id="end" placeholder="End date" readonly>
		      	
		        <button class="btn btn-primary" type="button" ng-click='getResults()'>Search</button>

		    </div>


    	</div> -->


		<div class="spacer">
    	</div>
    	<div class="row">
    		<div class="col-lg-3 col-md-offset-1">
    			<input type="text" class="form-control" ng-model="locations" placeholder="Pick a location">
    		</div>
    		<div class="col-lg-3">
    			<div class="input-group">
			      	<input type="text" id="start" class="form-control picker" aria-label="Start date" placeholder="Start date" readonly>
			      	<div id="start_dropdown" class="input-group-btn">
			        	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">12:00pm <span class="caret"></span></button>
			        	<ul class="dropdown-menu dropdown-menu-right">
			          		<li ng-repeat="time in times track by $index" ng-click="getSelectedTime('start', $index)"><a href="#">{{time}}</a></li>
			        	</ul>
			      	</div>
			    </div>
    		</div>
    		<div class="col-lg-3">
    			<div class="input-group">
			      	<input type="text" id="end" class="form-control picker" aria-label="End date" placeholder="End date" readonly>
			      	<div id="end_dropdown" class="input-group-btn">
			        	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">12:00pm <span class="caret"></span></button>
			        	<ul class="dropdown-menu dropdown-menu-right">
			          		<li><a href="#">Action</a></li>
			          		<li><a href="#">Action</a></li>
			        	</ul>
			      	</div>
			    </div>
    		</div>
    		<button class="btn btn-primary col-lg-1" type="button" ng-click='getResults()'>Search</button>
    	</div>
		


		<ul class="list-group col-md-8 col-md-offset-2" id="results">

		  	<a href="#" class="list-group-item" ng-repeat="item in results track by $index" ng-click="displayModal($index)">
		  		{{item.metadata.CarTypeName[0]}} – ${{item.result.DailyRate[0]}}
		  	</a>
		</ul>

    	
    </div>



<!-- Modal -->
<div id="resultModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div id="m-header" class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-pricebox">
        	<h2 id="m-price" class="modal-price">$150</h2>
        	<span class="modal-subtitle">/ day</span>
        </div>
        <h4 id="m-title" class="modal-title">Modal Header</h4>
        <span id="m-subtitle" class="modal-subtitle">SUBTITLE</span>
      </div>
      <div id="m-body" class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


</body>

</html>